 <p id="notice"><%= notice %></p>
 <% @initiatives.each do |initiative| %>
  <div class="card col-md-10 offset-md-1">
    <div class="card-header">
      idea
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= initiative.idea.title %></h5>
      <p class="card-text">initiator_proposal</p>
      <%= link_to 'Show', initiative, class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

