<p id="notice"><%= notice %></p>

<h1>Initiatives</h1>

<table>
  <thead>
    <tr>
      <th>idea</th>
      <th>initiator_proposal</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @initiatives.each do |initiative| %>
      <tr>
        <td><%= initiative.idea.title %></td>
        <td><%= link_to 'Show', initiative %></td>
        <td><%= link_to 'Destroy', initiative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


