<div class="row">
  <div class="col-md-4 offset-md-1">
    <div class="card mt-3">
      <div class="card-body">

        <h1>Editing Idea</h1>

        <%= render 'form', idea: @idea %>
      </div>
    </div>
    <%= link_to 'Show', @idea %> |
    <%= link_to 'Back', ideas_path %>
  </div>
</div>
