<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <h1>додати етап</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

