<div class="row">
  <div class="col-md-10 offset-md-1">

    <h1>редагувати</h1>
    <%= render 'form', idea: @idea %>

    <%= link_to 'Show', @idea %> |
    <%= link_to 'Back', ideas_path %>
  </div>
</div>

