<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-body">

        <h1>редагувати</h1>
        <%= render 'form', idea: @idea %>
      </div>
    </div>
    <%= link_to 'Show', @idea %> |
    <%= link_to 'Back', ideas_path %>
  </div>
</div>

